{% extends 'kardex_app/main.html' %}
{% block content %}
{% load static crispy_forms_tags tz my_templatetags %}
<link rel="stylesheet" href= {% static "css/kardex.css" %}>
<script defer src={% static "js/update-kardex.js" %}></script>
{% timezone "Asia/Manila" %}
{% for instance in kardex_history %}
<div class="modal fade" id="comparisonModal{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content bg-transparent">
      <div class="modal-header border-0 d-flex align-items-center">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-row align-items-center pt-5">
        <div 
          id="modalContainer{{ forloop.counter }}"
          class="modal-container w-50 d-flex flex-column justify-content-center align-items-center my-auto p-4 pt-5"
        >
          <div
            class="modal-card w-100 bg-white d-flex flex-column pt-3 pb-5"
          >
            <div
              id="modalCardTitle{{ forloop.counter }}"
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <span class="fs-5 fw-bold">{{ instance|get_item:'Last Name' }}, {{ instance|get_item:'First Name' }}</span>
              <span class="fs-5 fw-bold">({{ instance|get_item:'Edited At'|last|date:"h:i A - N d, Y" }})</span>
            </div>
            <hr>
            <div
              id="modalCardBody{{ forloop.counter }}"
              class="d-flex flex-column px-3"
            >
              {% for key, value in instance.items %}
              {% if key in 'Category,Transfer Type' %}
              <div
                id="{{ key|title|cut:' '|cut:'-'|cut:'/'|lowerfirst }}{{ forloop.parentloop.counter }}"
                class="mb-3"
              >
                <span class="fw-bold">{{ key }}:</span>
                {% if forloop.parentloop.counter0 < kardex_comparisons|length %}
                {% if kardex_comparisons|get_by_idx:forloop.parentloop.counter0|get_item:key == 'Revision' %}
                <span class="change-span d-none fw-bold text-primary">(Revision)</span>
                {% elif kardex_comparisons|get_by_idx:forloop.parentloop.counter0|get_item:key == 'Addition' %}
                <span class="change-span d-none fw-bold text-success">(Addition)</span>
                {% endif %}
                {% endif %}
                <br>
                {% if key == 'Category' %}
                {% if value == '0' %}
                <span>Admission</span>
                {% elif value == '1' %}
                <span>Discharges</span>
                {% elif value == '2' %}
                <span>Death</span>
                {% else %}
                <span>N/A</span>
                {% endif %}
                {% endif %}
                {% if key == 'Transfer Type' %}
                {% if value == '0' %}
                <span>Transfer In</span>
                {% elif value == '1' %}
                <span>Transfer Out</span>
                {% elif value == '2' %}
                <span>Transfer to Other Hospital</span>
                {% else %}
                <span>N/A</span>
                {% endif %}
                {% endif %}
              </div>
              {% endif %}
              {% if key not in 'Category,Transfer Type,Extra Fields,Extra Field Values,Label Values,Label Markers,Edited By,Edited At' %}
              <div
                id="{{ key|title|cut:' '|cut:'-'|cut:'/'|lowerfirst }}{{ forloop.parentloop.counter }}"
                class="mb-3"
              >
                <span class="fw-bold">{{ key }}:</span>
                {% if forloop.parentloop.counter0 < kardex_comparisons|length %}
                {% if kardex_comparisons|get_by_idx:forloop.parentloop.counter0|get_item:key == 'Revision' %}
                <span class="change-span d-none fw-bold text-primary">(Revision)</span>
                {% elif kardex_comparisons|get_by_idx:forloop.parentloop.counter0|get_item:key == 'Addition' %}
                <span class="change-span d-none fw-bold text-success">(Addition)</span>
                {% endif %}
                {% endif %}
                <br>
                <span>{{ value }}</span>
              </div>
              {% endif %}
              {% endfor %}
              {% with extra_fields=instance|get_item:'Extra Fields' extra_values=instance|get_item:'Extra Field Values' %}
              {% if extra_fields|length > 0 and extra_values|length > 0 and extra_fields|get_by_idx:0 != '' and extra_fields|get_by_idx:0 != 'NULL' %}
              {% for field, value in extra_fields|zip:extra_values %}
              <div
                id="{{ field|title|cut:' '|cut:'-'|cut:'/'|lowerfirst }}{{ forloop.parentloop.counter }}"
                class="d-flex flex-column mb-3"
              >
                <span class="fw-bold">{{ field }}:</span>
                <span>{{ value }}</span>
              </div>
              {% endfor %}
              {% endif %}
              {% endwith %}
              {% if instance|get_item:'Label Markers'|get_by_idx:0|length %}
              {% with label_values=instance|get_item:'Label Values' %}
              {% for marker, value in instance|get_item:'Label Markers'|zip:label_values %}
              <div
                id="label{{ marker|title|cut:' '|cut:'-'|cut:'/' }}{{ forloop.parentloop.counter }}"
                class="d-flex flex-column mb-3"
              >
                <span class="fw-bold">{{ marker }}:</span>
                <span>{{ value }}</span>
              </div>
              {% endfor %}
              {% endwith %}
              {% endif %}
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="update-kardex-body w-100">
  <datalist id="wardDeptOptions">
    <option value="MED">
    <option value="OB">
    <option value="GYNE">
    <option value="PED">
    <option value="SURG-A">
    <option value="SURG-P">
    <option value="OPHTHA">
    <option value="ENT">
    <option value="ORTHO">
    <option value="SICK BB">
    <option value="WELL BB">
  </datalist>
  <!-- to avoid placement of down arrows when removing attribute list -->
  <datalist id="emptyOptions"></datalist>
  <form id="updateKardexForm" action="" method="post">
    {% csrf_token %}
    <section class="large-kardex container-fluid container-lg d-flex flex-column align-items-center mt-4 mb-3">
      <div class="d-flex align-items-center mb-3 mb-3">
        <input
          type="text"
          name="name_of_ward"
          id="nameOfWardInput"
          class="underline-field w-156 form-control me-2"
          placeholder="Name of Ward"
          value="{{ kardex.name_of_ward|default:'' }}"
          list="wardDeptOptions"
        >
        <h2 class="required-span fw-bold">WARD</h2>
      </div>
      <div class="grid-wrapper w-100">
        <div class="ivf-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">IVF:</span>
          <textarea
            name="ivf"
            id="ivfInput"
            class="overline-field form-control"
            rows="3"
            placeholder="IVF"
          >{{ kardex.ivf|default:'' }}</textarea>
        </div>
        <div class="laboratory-work-ups-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">LABORATORY WORK-UPS:</span>
          <textarea
            name="laboratory_work_ups"
            id="laboratoryWorkUpsInput"
            class="overline-field form-control"
            rows="3"
            placeholder="Laboratory Work-Ups"
          >{{ kardex.laboratory_work_ups|default:'' }}</textarea>
        </div>
        <div class="medications-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">MEDICATIONS:</span>
          <textarea
            name="medications"
            id="medicationsInput"
            class="overline-field form-control"
            rows="3"
            placeholder="Medications"
          >{{ kardex.medications|default:'' }}</textarea>
        </div>
        <div class="side-drip-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">SIDE DRIP:</span>
          <textarea
            name="side_drip"
            id="sideDripInput"
            class="overline-field form-control"
            rows="3"
            placeholder="Side Drip"
          >{{ kardex.side_drip|default:'' }}</textarea>
        </div>
        <div class="special-notations-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">SPECIAL NOTATIONS:</span>
          <textarea
            name="special_notations"
            id="specialNotationsInput"
            class="overline-field form-control"
            rows="3"
            placeholder="Special Notations"
          >{{ kardex.special_notations|default:'' }}</textarea>
        </div>
        <div class="referrals-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">REFERRALS:</span>
          <textarea
            name="referrals"
            id="referralsInput"
            class="overline-field form-control"
            rows="3"
            placeholder="Referrals"
          >{{ kardex.referrals|default:'' }}</textarea>
        </div>
      </div>
    </section>
    <section class="lower-fields container-fluid container-lg d-flex flex-column flex-md-row">
      <div class="lower-left-fields d-flex flex-column pe-0 pe-md-4">
        <div class="d-flex align-items-center mb-3">
          <span class="required-span text-nowrap fs-2 fw-bold me-3">FIRST NAME:</span>
          <input
            type="text"
            name="first_name"
            id="firstNameInput"
            class="underline-field form-control"
            placeholder="First Name"
            value="{{ kardex.first_name|default:'' }}"
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="required-span text-nowrap fs-2 fw-bold me-3">LAST NAME:</span>
          <input
            type="text"
            name="last_name"
            id="lastNameInput"
            class="underline-field form-control"
            placeholder="Last Name"
            value="{{ kardex.last_name|default:'' }}"
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">AGE/SEX:</span>
          <input
            type="text"
            name="age_sex"
            id="ageSexInput"
            class="underline-field form-control"
            placeholder="Age/Sex"
            {% if kardex.age != 0 and kardex.age is not None %}
              value="{{ kardex.age|default:'' }}/{{ kardex.sex|default:'' }}"
            {% endif %}
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">DATE/TIME:</span>
          <input
            type="text"
            name="date_time"
            id="dateTimeInput"
            class="underline-field form-control"
            placeholder="Date/Time (YYYY-MM-DDTHH:MM)"
            value="{{ kardex.date_time|date:'Y-m-d\TH:i'|default:'' }}"
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">HOSPITAL #:</span>
          <input
            type="text"
            name="hospital_num"
            id="hospitalNumInput"
            class="underline-field form-control"
            placeholder="Hospital #"
            value="{{ kardex.hospital_num|default:'' }}"
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">BED #:</span>
          <input
            name="bed_num"
            id="bedNumInput"
            type="text"
            class="underline-field form-control"
            placeholder="Bed #"
            value={{ kardex.bed_num|default:'' }}
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">CASE #:</span>
          <input
            name="case_num"
            id="caseNumInput"
            type="text"
            class="underline-field form-control"
            placeholder="Case #"
            value={{ kardex.case_num|default:'' }}
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">CONDITION:</span>
          <input
            name="condition"
            id="conditionInput"
            type="text"
            class="underline-field form-control"
            placeholder="Condition"
            value={{ kardex.condition|default:'' }}
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="required-span text-nowrap fs-2 fw-bold me-3">DEPARTMENT:</span>
          <input
            name="department"
            id="departmentInput"
            type="text"
            class="underline-field form-control"
            placeholder="Department"
            value="{{ kardex.department|default:'' }}"
            list="wardDeptOptions"
          >
        </div>
      </div>
      <div class="lower-right-fields d-flex flex-column">
        <div class="d-flex align-items-center mb-3">
          <span class="align-self-start text-nowrap fs-2 fw-bold me-3">DX:</span>
          <textarea
            name="dx"
            id="dxInput"
            class="underline-field form-control"
            rows="3"
            placeholder="DX"
          >{{ kardex.dx|default:'' }}</textarea>
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">DRS:</span>
          <input
            name="drs"
            id="drsInput"
            type="text"
            class="underline-field form-control"
            placeholder="DRS"
            value="{{ kardex.drs|default:'' }}"
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">DIET:</span>
          <input
            name="diet"
            id="dietInput"
            type="text"
            class="underline-field form-control"
            placeholder="Diet"
            value="{{ kardex.diet|default:'' }}"
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">CATEGORY:</span>
          <select
            name="category"
            id="categoryInput"
            class="underline-field form-select"
          >
            <option value="3" {% if not kardex.is_admission and not kardex.is_discharges and not kardex.is_death %}selected{% endif %}>N/A</option>
            <option value="0" {% if kardex.is_admission %}selected{% endif %}>Admission</option>
            <option value="1" {% if kardex.is_discharges %}selected{% endif %}>Discharge</option>
            <option value="2" {% if kardex.is_death %}selected{% endif %}>Death</option>
          </select>
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">TRANSFER:</span>
          <select
            name="transfer_type"
            id="transferTypeInput"
            class="underline-field form-select"
          >
            <option value="3" {% if not kardex.is_trans_in and not kardex.is_trans_out and not kardex.is_trans_other %}selected{% endif %}>N/A</option>
            <option value="0" {% if kardex.is_trans_in %}selected{% endif %}>Transfer In</option>
            <option value="1" {% if kardex.is_trans_out %}selected{% endif %}>Transfer Out</option>
            <option value="2" {% if kardex.is_trans_other %}selected{% endif %}>Transfer to Other Hospital</option>
          </select>
        </div>
      </div>
    </section>
    <section class="extra-fields container-fluid container-lg">
      {% if kardex.extra_fields|length > 0 and kardex.extra_fields|get_by_idx:0 != '' and kardex.extra_fields|get_by_idx:0|strip != 'None' %}
      {% for name, value in kardex.extra_fields|zip:kardex.extra_field_values %}
      <div class="extra-field d-flex align-items-center mb-3 pe-0 pe-md-4">
        <input
          type="text"
          id="extraFieldNameInput{{ forloop.counter }}"
          class="underline-field w-156 form-control"
          placeholder="New Field Name"
          value="{{ name }}"
        >
        <span class="fs-2 fw-bold me-3">:</span>
        <input
          type="text"
          id="extraFieldValueInput{{ forloop.counter }}"
          class="underline-field form-control"
          placeholder="New Field Value"
          value="{{ value }}"
        >
        <button
          type="button"
          id="removeFieldBtn{{ forloop.counter }}"
          class="btn btn-outline-danger ms-3"
        >
          <i class="text-danger fa-solid fa-xmark"></i>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      <div class="add-field d-flex align-items-center mb-3 pe-0 pe-md-4">
        <input
          type="text"
          id="newFieldNameInput"
          class="underline-field w-156 form-control"
          placeholder="New Field Name"
        >
        <span class="fs-2 fw-bold me-3">:</span>
        <input
          type="text"
          id="newFieldValueInput"
          class="underline-field form-control"
          placeholder="New Field Value"
        >
        <button
          type="button"
          id="addFieldBtn"
          class="btn btn-outline-success ms-3"
        >
          <i class="text-success fa-solid fa-plus"></i>
        </button>
      </div>
    </section>
    <input
      name="age"
      id="ageInput"
      type="number"
      class="d-none"
      max="125"
      min="0"
    >
    <input
      name="sex"
      id="sexInput"
      type="text"
      class="d-none"
    >
    <input
      name="is_admission"
      id="isAdmissionInput"
      type="text"
      class="d-none"
    >
    <input
      name="is_discharges"
      id="isDischargesInput"
      type="text"
      class="d-none"
    >
    <input
      name="is_death"
      id="isDeathInput"
      type="text"
      class="d-none"
    >
    <input
      name="is_trans_in"
      id="isTransInInput"
      type="text"
      class="d-none"
    >
    <input
      name="is_trans_out"
      id="isTransOutInput"
      type="text"
      class="d-none"
    >
    <input
      name="is_trans_other"
      id="isTransOtherInput"
      type="text"
      class="d-none"
    >
    <input
      name="extra_fields"
      id="extraFieldsInput"
      type="text"
      class="d-none"
      placeholder="New Field Name"
    >
    <input
      name="extra_field_values"
      id="extraFieldValuesInput"
      type="text"
      class="d-none"
      placeholder="New Field Value"
    >
    <input
      name="label_markers"
      id="labelMarkersInput"
      type="text"
      class="d-none"
    >
    <input
      name="label_values"
      id="labelValuesInput"
      type="text"
      class="d-none"
    >
    <input
      name="edited_by"
      id="editedByInput"
      type="text"
      class="d-none"
      value="{{ kardex.edited_by|join:';;' }};;"
    >
    <input
      name="edited_at"
      id="editedAtInput"
      type="text"
      class="d-none"
      value="{{ kardex.edited_at|join:';;' }};;"
    >
  </form>
  <span id="userIdSpan" class="d-none">{{ request.user.id }}</span>
  <section class="submit-row container-fluid container-lg d-flex flex-column align-items-start flex-md-row align-items-md-center mt-2 mb-4">
    <button type="button" id="updateKardexBtn" class="btn btn-outline-primary px-4 me-3">Finish Updating Kardex</button>
    <span class="fw-bold">or click a button below to add them as a new field in the Kardex</span>
  </section>
  <section class="suggestion-btns container-fluid container-lg d-flex flex-wrap">
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark me-3 mb-3"
    >
      Bed #
    </button>
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark me-3 mb-3"
    >
      Clinical Area
    </button>
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark me-3 mb-3"
    >
      Department
    </button>
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark me-3 mb-3"
    >
      Diagnostic Work-Ups
    </button>
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark me-3 mb-3"
    >
      Diet Remarks
    </button>
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark me-3 mb-3"
    >
      Doctor in Charge
    </button>
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark me-3 mb-3"
    >
      Hospital Name
    </button>
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark me-3 mb-3"
    >
      Shift Schedule
    </button>
    <button
      type="button"
      class="suggestion-btn btn btn-outline-dark h-auto me-3 mb-3"
    >
      Transfer in, Transfer out, or Transfer to another Hospital
    </button>
  </section>
  <section class="edit-history container-fluid container-lg d-flex flex-column">
    <span class="fs-2 fw-bold">Previously Edited By:</span>
    <ol>
      {% for name, date in kardex.edited_by_names|zip:kardex.edited_at reversed %}
      <li class="mb-2">
        <a
          id="visit{{ forloop.counter }}Link"
          href="#"
          class="visit-link text-decoration-none"
        >
          {{ name }}
        </a>
        <a
          href="#"
          class="changes-link text-decoration-none text-dark"
        >
          ({{ date|date:"h:i A - N d, Y" }})
          {% if kardex_comparison_values|length > forloop.counter0 %}
          <span>
          [{% if 'Revision' in kardex_comparison_values|get_by_idx:forloop.counter0 %}Revisions{% endif %}{% if 'Addition' in kardex_comparison_values|get_by_idx:forloop.counter0 %} Additions{% endif %}{% if 'Deletion' in kardex_comparison_values|get_by_idx:forloop.counter0 %} Deletions{% endif %}]
          </span>
          {% endif %}
        </a>
        {% if forloop.counter != kardex.edited_by_names|length %}
        <a
          id="comparePrev{{ forloop.counter }}Link"
          href="#"
          class="compare-prev-link text-decoration-none text-primary"
        >
          Compare with Previous <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        {% endif %}
        <a
          id="compareCurr{{ forloop.counter }}Link"
          href="#"
          class="compare-curr-link text-decoration-none text-success"
        >
          Compare with Current <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </li>
      {% endfor %}
    </ol>
  </section>
  <div aria-live="assertive" aria-atomic="false">
    <div class="toast-container position-fixed end-0 bottom-0 p-3">
      <div class="error-toast toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body"></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endtimezone %}
{% endblock content %}