{% autoescape off %}
Hello!

A request has been received to change the password for your E-Kardex account. To proceed, kindly click the link below.


Reset Password Link: {{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}


This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{domain}} and
request another reset.

If you did not initiate this request, please contact us immediately at saianph1@gmail.com.

Sincerely,
The E-Kardex Team

{% endautoescape %}